<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Informasi Akademis Statis</title>
    <link rel="stylesheet" href="styleAkademik.css">
</head>
<body>
    <h1>TESTING INI HALAMAN AKADEMIK</h1>
</body>
</html>