<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Informasi Akademis Statis</title>
    <link rel="stylesheet" href="styleAkademik.css">
</head>
<body>
    <header>
        <h1>
            SIATIS (Sistem Akademik Statis)
        </h1>
        <nav>
            <ul>
                <li>
                    <a href="">Akademik</a>
                </li>
                <li>    
                    <a href="">Biodata</a>
                </li>
                <li>
                    <a href="">Kemahasiswaan</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="biodata">
            <article>
                <h1>Ini nama Mahasiswa </h1>
                <p>Fakultas : </p>
                <p>Jurusan : </p>
                <p>Program studi : </p>
                <p>Seleksi : </p>
            </article>
        </div>
        <div class="opsi">
            <ul>
                <li>Kartu Rencana Studi</li>
                <li>Kartu hasil studi</li>
                <li>Jadwal kuliah</li>
            </ul>
        </div>
    </main>
</body>
</html>