*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} 

header{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: flex-start;
    justify-content: flex-start;
}

header h1{
    color: green;
}

header nav{
    margin-top: 2rem;
    width: 100%;
}

header ul{
    width: 100%;
    display: flex;
    list-style-type: none;
    flex-flow: row nowrap;
    gap: 4rem;
    justify-content: flex-start;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
}

main{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}

.informasi{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.biodata{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.biodata article{
    text-align: left;
}

.opsi{
    width: 35%;
}

.opsi ul{
    list-style-type: none;
}

.opsi li{
    margin-right: 3rem;
    padding: 1rem 0rem;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
}

.content{
    background-color: aquamarine;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}